[submodule "external/Megatron-LM"]
	path = external/Megatron-LM
	url = https://github.com/NVIDIA/Megatron-LM.git
[submodule "external/apex"]
	path = external/apex
	url = https://github.com/NVIDIA/apex.git
[submodule "external/apex-enhanced"]
	path = external/apex-enhanced
	url = git@github.com:miceforrat/apex.git
	branch = fix_for_aceso
